* {
    font-family: "Sawarabi Mincho";
}

.navigation {
    background-color: #000;
    margin-bottom: 50px;
}

textarea {
    width: 100%;
    font-size: 24px;
}

.inputBox {
    margin-bottom: 30px;
}

.matome {
    margin-bottom: 500px;
}

.copyButton {
    background-color: #00f;
    border-radius: 5px;
}

.deleteButton {
    background-color: #f00;
}

.generatedText {
    position: fixed;
    background-color: #c0c0c0;
    bottom: 0px;
    margin: 0 auto;
}